.grid-row
{
  display: grid;
}

.grid-col{
  display: grid;
  grid-auto-flow: column;
}

.template-2col{
  grid-template-columns: 1fr 1fr;
}

.gap-16{
  gap: 16px;
}

.gap-32{
  gap:32px;
}

.txt-xxl{
  font:var(--txt-h1);
}

.txt-xl{
  font:var(--txt-h2);
}

.txt-lg{
  font:var(--txt-h3);
}

.txt-sm{
  font:var(--txt);
  color: var(--text-color-secondary);
}